*{
	margin: 0;
	padding: 0;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    /* background-color: #e7e7e7; */
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: rgb(150,255,0);
    border-color: #337ab7;
}
.navbar-default {
    background-color: #620303;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
.jumbotron {
    padding-bottom: 550px;
    color: inherit;
    background-image: url(bg.jpeg) ;
    background-size: auto 100%;

}
body {
	height: 719px;
	width: 100;
	background-repeat: no-repeat;
	background-position: none center;
	position: relative;

}
#head {
	height: 8px;
	width: 10px;
	background-color: #66CCCC;
	text-align: center;
	position: relative;
}
#foot {

	background-color: #620303;
	text-align: center;
	text-color: #0c1a5e
	position: relative;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

}
#bd .logGet {
	height: 408px;
	width: 368px;
	position: absolute;
	background-color: rgb(240,250,0);
	top: 20%;
	right: 15%;
}
.logC a button {
	width: 100%;
	height: 45px;
	background-color: rgb(180,130,0);
	border: none;
	color: white;
	font-size: 18px;
}
.logGet .logD.logDtip .p1 {
	display: inline-block;
	font-size: 28px;
	margin-top: 30px;
	width: 86%;
}
#bd .logGet .logD.logDtip {
	width: 86%;
	border-bottom: 1px solid rgb(0,100,0);
	margin-bottom: 60px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
}
.logGet .lgD img {
	position: absolute;
	top: 12px;
	left: 8px;
}
.logGet .lgD input {
	width: 100%;
	height: 42px;
	text-indent: 2.5rem;
}
#bd .logGet .lgD {
	width: 86%;
	position: relative;
	margin-bottom: 30px;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
}
#bd .logGet .logC {
	width: 86%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}


.title {
	font-family: "宋体";
	color: #FFFFFF;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 36px;
	height: 40px;
	width: 80%;
}

.copyright {
	font-family: "宋体";
	color: #FFFFFF;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 60px;
	width: 40%;
	text-align:center;
}


#foot .copyright .img {
	width: 100%;
	height: 24px;
	position: relative;
}
.copyright .img .icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-left: 22px;
	vertical-align: middle;
	background-image: url(%E7%94%B5%E5%AD%90%E9%82%AE%E4%BB%B6.png);
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-right: 5px;
}

.copyright .img .icon1 {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-left: 22px;
	vertical-align: middle;
	background-image: url(%E5%9C%B0%E5%9D%80.png);
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-right: 5px;
}
.copyright .img .icon2 {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-left: 22px;
	vertical-align: middle;
	background-image: url(%E8%81%94%E7%B3%BB%E6%96%B9%E5%BC%8F.png);
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-right: 5px;
}
#foot .copyright p {
	height: 24px;
	width: 100%;
}

.li_left {
    float: left;
    list-style: none;
    padding:0 10px;
    line-height: 60px;
    font-size: 36px;
}
.li_right {
    float: right;
    list-style: none;
    padding:0 10px;
    line-height: 60px;
    font-size: 36px;
}
a{
text-decoration:none;
}